html {
  font-family: verdana;
  background-color: black;
  text-align: center;
}

h1 {
  font-weight: normal;
  font-weight: bold;
  font-size: 50px;
  color: white;
}

h2 {
  color: white;
  font-weight: bold;
  font-size: 42px;
}

p{
  font-size: 21px;
  color: gray;
}

a {
  text-align: center;
  color: aquamarine;
  font-size: 16px;
}

video {
  display: block;
  margin: auto;
}

img {
  display: block;
  margin: auto;
}

.footer {
  color:gray;
  font-size: 21px;
  text-align: right;
  font-weight: normal;
}
